<div class="container mt-4 bg-dark text-light">
    
    <table id="table_id" class="display text-light">
    <thead class="bg-dark text-light">
        <tr >
            <th class="bg-dark">OS</th>
            <th>Data de Abertura</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Equipamento</th>       
            <th>Número de Série</th>
            <th>Ultimo movimento</th>
        </tr>
    </thead>
    <tbody >
        
        {{#each dados.dado}} 
        <tr>  
            <td class="badge bg-success mb-2 mt-4" style="font-size: 15px">{{OS}}</td>            
            <td>{{Data_abertura}}</td>
            <td>{{Cliente}}</td>
            <td>{{Vendedor}}</td>
            <td>{{Equipamento}}</td>
            <td> {{NS}}</td>
            <td>{{Data_Movimento}}</td>
         </tr>   
        {{/each}}   

    </tbody>
</table>

</div>

