<div class="container mt-4 text-light">
    
    <table id="table_id" class="display text-light">
    <thead class="text-light">
        <tr>
            <th>OS</th>
            <th>Data de Abertura</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Equipamento</th>
            <th>Número de Série</th>
            <th>Ultimo movimento</th>
        </tr>
    </thead>
    <tbody>
        {{#each dadosFinalizados.dado}}
        <tr>
            <td class=" badge bg-danger mt-2 mb-2" style="font-size: 15px">{{OS}}</td>
            <td>{{Data_abertura}}</td>
            <td>{{Cliente}}</td>
            <td>{{Vendedor}}</td>
            <td>{{Equipamento}}</td>
            <td>{{NS}}</td>
            <td>{{Data_Movimento}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

</div>